.imageAlbumSlide {
  padding: 20px;
  min-height: 300px; /* Ensure slide has some height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.title {
  font-size: 5rem;
  line-height: 4rem;
  margin: 2rem 0 -1rem 2rem;
  width: 100%;
  text-align: left;
  position: relative;
  z-index: 20;
  color: var(--secondary-color);
  span{
    color: var(--primary-color);
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* Align items in case of wrapping */
  gap: 10px;
  width: 100%;
  max-width: 100%; /* Limit gallery width */
}

.imageContainer {
  width:30%;
  max-width: 410px; /* Limit maximum width */
  height: auto;
  overflow: hidden;
  border: 1px solid #ddd;
  background-color: #fff;
  transition: width 0.3s ease, height 0.3s ease; /* Smooth transition for size changes */
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem; /* Increased */
    line-height: 2.2rem; /* Added */
  }
  .gallery {
    gap: 8px;
  }
  .imageContainer {
    width: 120px;
    height: 120px;
  }
}

@media (max-width: 480px) {
  .imageAlbumSlide {
    padding: 15px;
    min-height: 280px; /* Adjust height */
  }
  .title {
    font-size: 1.7rem; /* Increased */
    line-height: 1.9rem; /* Added */
    margin-bottom: 1rem;
  }
  .gallery {
    gap: 5px;
  }
  .imageContainer {
    width: 100px; /* Smaller images for mobile */
    height: 100px;
  }
}

@media (max-width: 360px) {
  .imageContainer {
    width: 80px; /* Even smaller for very narrow screens */
    height: 80px;
  }
}
