.textSlide {
  padding: 20px;
  background-color: var(--white-color); /* Light gray background */
  border: 1px solid #ddd;
  min-height: 100vh; /* Ensure slide has some height */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #333;
}

.title {
  font-size: 5rem;
  line-height: 4rem;
  margin: 2rem 0 -1rem 2rem;
  width: 100%;
  text-align: left;
  position: relative;
  z-index: 20;
  color: var(--secondary-color);
  span{
    color: var(--primary-color);
  }
}
.banner{
  display: block;
  text-indent: -99999px;
  height: calc(100vh - 250px); 
  width: 100%;
  background-image: url('img/image85.png');
  background-size:contain ; background-position: top center; background-repeat: no-repeat;

}
.text {
  font-size: 1.1rem;
  line-height: 1.6;
  width:100%; /* Ensure text doesn't go too wide */
}

@media (max-width: 768px) {
  .title {
    font-size: 2rem; /* Increased */
    line-height: 2.2rem; /* Added */
  }
  .text {
    font-size: 1.05rem; /* Increased */
  }
}

@media (max-width: 480px) {
  .textSlide {
    padding: 15px;
    min-height: 250px; /* Adjust height for smaller screens */
  }
  .title {
    font-size: 1.7rem; /* Increased */
    line-height: 1.9rem; /* Added */
  }
  .text {
    font-size: 0.95rem; /* Increased */
    line-height: 1.5;
  }
}
